# Override values for HyperShift 
# Define the s3 bucket information  
global:
  hypershift:
    createBucket: true
    oidc:
# OIDC bucket information: provide region and bucketName
      region: ''
      bucketName: ''

      
# register a GitHub oAuth application: https://github.com/settings/applications/new
# configure oauth provider: https://docs.openshift.com/container-platform/4.15/authentication/understanding-identity-provider.html
#
# The default configuration uses github as the provider
  oauth:
    type: GitHub
    secretName: ocp-github-oauth
    github:
      clientID: #clientID of the registered GitHub oAuth Application
      orgs:
      - name: #list of github authorized organizations

# Set rbac.create to false if you want to skip creation of role/rolebinding.
rbac:
  create: false
# Provide a list of users to add to the clusterrolebinding
  users: []
