{{- if .Values.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Values.rbac.role.name }}
rules:
# Full lifecycle control for Hypershift clusters
- apiGroups:
  - hypershift.openshift.io
  resources:
  - hostedclusters
  - nodepools
  - nodepools/scale
  verbs:
  - '*'
# Full permissions for Hive cluster deployments (used by Hypershift)
- apiGroups:
  - hive.openshift.io
  resources:
  - clusterdeployments
  verbs:
  - '*'
# Read-only access to managed clusters (for viewing cluster status)
- apiGroups:
  - cluster.open-cluster-management.io
  resources:
  - managedclusters
  verbs:
  - get
  - list
  - watch
# Read-only access to cluster API resources (for monitoring cluster state)
- apiGroups:
  - bootstrap.cluster.x-k8s.io
  - controlplane.cluster.x-k8s.io
  - infrastructure.cluster.x-k8s.io
  - machines.cluster.x-k8s.io
  - exp.infrastructure.cluster.x-k8s.io
  - addons.cluster.x-k8s.io
  - exp.cluster.x-k8s.io
  - cluster.x-k8s.io
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
# Read-only access to monitoring resources
- apiGroups:
  - monitoring.coreos.com
  - monitoring.rhobs
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
# Namespace-scoped resources - only within Hypershift-managed namespaces
# These are needed for Hypershift cluster lifecycle but scoped to prevent cluster-wide creation
- apiGroups:
  - ""
  resources:
  - events
  - configmaps
  - secrets
  - serviceaccounts
  - services
  - endpoints
  - namespaces
  verbs:
  - '*'
# Read-only access to pods (for debugging/troubleshooting)
- apiGroups:
  - ""
  resources:
  - pods
  - pods/log
  verbs:
  - get
  - list
  - watch
# Read-only access to nodes (for cluster status)
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
# Read-only access to OpenShift config (for cluster information)
- apiGroups:
  - config.openshift.io
  resources:
  - clusterversions
  verbs:
  - get
  - list
  - watch
# Read-only access to ArgoCD applications (prevents installing new patterns)
- apiGroups:
  - argoproj.io
  resources:
  - applications
  verbs:
  - get
  - list
  - watch
# Autoscaling resources - manage cluster and machine autoscalers
- apiGroups:
  - autoscaling.openshift.io
  resources:
  - clusterautoscalers
  - machineautoscalers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
# Machine API resources - for autoscaling integration
- apiGroups:
  - machine.openshift.io
  resources:
  - machinesets
  - machinesets/scale
  - machines
  verbs:
  - get
  - list
  - watch
{{- end }}
